@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #110b05;
  --color-background: #311d10;
  --color-accent: #8c4b2d;
  --color-foreground: #dab484;
  --color-banner: #663c1a;
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }

  button {
    @apply cursor-pointer;
  }

  .subtitle {
    @apply text-5xl font-serif mb-10;
  }

  .section {
    @apply flex flex-col justify-center items-center p-6;
  }
}
