@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #d8d9db;
  --color-background: #ffffff;
  --color-accent: rgb(130, 97, 79);
  --color-foreground: #424242;
  --color-banner: #d3d3d3;
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }

  button {
    @apply cursor-pointer;
  }

  .title {
    @apply sm:text-2xl text-lg font-serif ml-2;
  }

  .subtitle {
    @apply sm:text-5xl text-4xl font-serif mb-10;
  }

  .section {
    @apply flex flex-col justify-center items-center p-6;
  }
}
